# 환경 변수
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# 가상환경
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# 로그
*.log

# ChromaDB
chroma/

# Unity
unity/ArcanaScene/Library/
unity/ArcanaScene/Temp/
unity/ArcanaScene/Obj/
unity/ArcanaScene/Build/
unity/ArcanaScene/Builds/
unity/ArcanaScene/Logs/
unity/ArcanaScene/UserSettings/
unity/ArcanaScene/MemoryCaptures/
unity/ArcanaScene/.vsconfig
unity/ArcanaScene/*.csproj
unity/ArcanaScene/*.sln
unity/ArcanaScene/*.suo
unity/ArcanaScene/*.tmp
unity/ArcanaScene/*.user
unity/ArcanaScene/Assets/AssetStoreTools*
unity/ArcanaScene/Assets/TextMesh Pro/Examples & Extras/
unity/ArcanaScene/Assets/TextMesh Pro/Examples & Extras.meta

#result file
eval_result_*.json
